In [104]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib as mpl
from sqlalchemy import create_engine
import psycopg2 as pg2
from sklearn.metrics import r2_score, mean_squared_error

mpl.style.use('seaborn-bright')

In [105]:
conn = create_engine("postgres://postgres:G00dvibes04@localhost:5432/ldn_properties")

In [119]:
QUERY = """
    SELECT num_of_bed,
           num_of_bath,
           reception_room,
          "crime rate",
           borough,
           title,
           transport_primary,
           transport_secondary,
           price
    FROM properties_new  
"""

df = pd.read_sql_query(QUERY, conn)
df.columns
df.shape

(63391, 9)

In [107]:
df.head()

,num_of_bed,num_of_bath,reception_room,crime rate,borough,title,transport_primary,transport_secondary,price
0,1,1,0,4576.0,city of london,flat,national_rail_station,london_underground_station,1030000
1,1,1,1,4576.0,city of london,flat,london_underground_station,national_rail_station,725000
2,1,1,1,4576.0,city of london,flat,national_rail_station,national_rail_station,875000
3,2,2,0,4576.0,city of london,flat,national_rail_station,london_underground_station,1750000
4,1,1,1,4576.0,city of london,studio,london_underground_station,national_rail_station,535000

In [110]:
boroughs = pd.get_dummies(df['borough'])
title = pd.get_dummies(df['title'])
trans1 = pd.get_dummies(df['transport_primary'])
trans2 = pd.get_dummies(df['transport_secondary'])

In [121]:
categoricals = boroughs.merge(title,how='left',left_index=True,right_index=True).merge(trans1,left_index=True,right_index=True).merge(trans2,left_index=True,right_index=True)

In [123]:
features = df._get_numeric_data()
data = features.merge(categoricals,left_index=True,right_index=True)
data.shape

(63391, 76)